extends layout

block content
	hr
	.row.center-block
	if !user      
		h1(style='text-align:center') Welcome!
		h2(style='text-align:center') This website uses blockchain technology to securely transfer your health records and requests to your provider. As a patient, you can view your old medical records, update your health profile, and also request prescription refills. As a doctor, you can send prescriptions, update your patient's medical records, and also enter new medical records. Please contact us for any questions or concerns.
	else
		h1(style='text-align:center') What would you like to do today?
		h2(style='text-align:center') I want to...
		div.center-block(style='width:400px;margin-top:90px !important')
			p
				a.button.btn.btn-primary.btn-block(href='/report') See My Reports
			p
				a.button.btn.btn-primary.btn-block(href='/prescription') Request Prescription
			p
				a.button.btn.btn-primary.btn-block(href='/healthprofile') Update Health Info

