doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='theme-color' content='#4DA5F4')
		meta(name='csrf-token', content=_csrf)
		title #{title} - Blockchain for Medical Devices
		link(rel='stylesheet', href='/stylesheets/bootstrap/dist/css/bootstrap.css')
	body(style="background-image: url('http://blog.hdwallsource.com/wp-content/uploads/2014/11/gradient-background-26046-26731-hd-wallpapers.jpg.png')")
		include partials/header
		.container
			block content
			br
			br
			include partials/flash
			

	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')