extends ../layout

block content
  .page-header.center-block
    a.button.btn.btn-primary(href='/') Back to Home
    h3 Fill A Prescription

  form.form-horizontal(id='dropdown', name='dropdown', action='/account/fill_prescription', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type="hidden" name="btype" value="lookup")
    div.center-block(style='width:400px;margin-top:20px !important')
      select.form-control(name='patientName',data-style='btn-primary')
        option Please Select Patient Name
        - for (var i = 0, len = patient_names.length; i < len; i++) {
          .patient_names
              option(value=patient_names[i].name) #{patient_names[i].name}
        - }
    .form-group(style='text-align:center;margin-top:20px')
      button.btn.btn.btn-primary(type='submit')
        i.fa.fa-pencil
        | Look Up Prescription

