.patient_prescription
	h3 Prescription Request From #{patient_prescription[0].name}
.past_prescription
	h4 Time Requested: #{past_prescription[0].date}
	h4 Medication: #{past_prescription[0].medication}
	h4 Description: #{past_prescription[0].description}