extends ../layout

block content
  .page-header.center-block
    a.button.btn.btn-primary(href='/') Back to Home
    h3 View Reported Symptoms

  form.form-horizontal(id='dropdown', name='dropdown', action='/account/view_symptoms', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    div.center-block(style='width:400px;margin-top:20px !important')
      .dropdown
        button.btn.btn-primary.btn-block.dropdown-toggle(type='button', data-toggle='dropdown')
          | Select Patient    
          span.caret
        ul.dropdown-menu(style='text-align:center')
          - for (var i = 0, len = patient_names.length; i < len; i++) {
          li(style='padding:-10px;font-size:15px;width:400px;text-align:center')
          .patient_names
              a(class='dropdown-item', href='#', style='text-align:center') #{patient_names[i].name}
          - }